
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --navbar-links: black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 5rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    list-style: none;
    padding-right: 3rem;
}

.navbar_links {
    text-decoration: none;
    color: var(--navbar-links);
    font-size: 1.5rem;
}
.navbar_links:hover {
    text-decoration: underline;
    font-style: italic;
}