@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One:wght@400;700&family=Roboto+Slab&display=swap');

* {
    margin-top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', sans-serif;
    background-color: var(--bg);
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

:root {
    --navbar-links: black;
    --primary: #BF3839;
    --bg: #FEF1D9;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 5rem;
    width: 100vw;
    background-color: var(--primary);
    color: var(--bg);
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Making it red just like the logo */
    width: 100vw;
    background-color: var(--primary);
    color: var(--bg);

}

ul li {
    list-style: none;
    padding-right: 3rem;
    background-color: transparent;

}

.navbar_links {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--bg);
    width: 20vw;
    text-align: center;
}
.navbar_links:hover {
    font-style: italic;
    background-color: var(--bg);
    color: var(--primary);
}
.navbar_links:active, .navbar_links:focus {
    background-color: var(--bg);
    color: var(--primary);
}

/* Welcome */
.welcome_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-image: url("img/burger_grill.jpg");
    background-size: cover;
    background-attachment: fixed; */
}

.title {
    align-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--bg);
    text-align: center;

}

.description, .quote {
    font-size: 1.1rem;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    padding-bottom: 20px;
    background-color: var(--bg);
}

/* .title, .description, .quote {
    background-color: var(--bg);
    background-color: transparent;
} */

.quote {
    font-style: italic;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.803);
}

.burger_image {
    background-image: url("img/burger_grill.jpg");
    align-self: center;
    width: 60vw;
    height: min(500px, 30vh);
    background-size: 90%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Menuu */
.menu_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.menu_title {
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu_description {
    text-align: center;
}

/* Location */
.location_page {
    margin-top: 2rem;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    box-sizing: border-box;
    gap: 3rem;
}

.location_card {
    display: grid;
    grid-template-areas:
    "left country country"
    "left address address"
    "left hours hours";

    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1rem;
}

.map {
    grid-area: left;
}

.country {
    grid-area: country;
}

h2.country {
    font-family: "Roboto Slab", serif;
    padding-top: 1rem;
}

.address {
    grid-area: address;
}
.hours {
    grid-area: hours;
}

/* Reservation form */
form.reservation_form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input, textarea {
    width: 50vw;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: "Roboto Slab", serif;
}

#submit {
    width: 40vw;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: "Roboto Slab", serif;
    background-color: var(--primary);
    color: var(--bg);
}
#submit:hover {
    border: 1px solid grey;
    background-color: var(--bg);
    color: var(--primary);
}