
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --navbar-links: black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 5rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    list-style: none;
    padding-right: 3rem;
}

.navbar_links {
    text-decoration: none;
    color: var(--navbar-links);
    font-size: 1.5rem;
}
.navbar_links:hover {
    text-decoration: underline;
    font-style: italic;
}

/* Welcome */
.welcome_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    align-self: center;
}

/* Menuu */
.menu_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.menu_title {
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu_description {
    text-align: center;
}

/* Location */
.location_page {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    box-sizing: border-box;
    gap: 3rem;
}

.location_card {
    display: grid;
    grid-template-areas: 
    "left country country"
    "left address address"
    "left hours hours";

    border: 1px solid grey;
    border-radius: 5px;
}

.map {
    grid-area: left;
}

.country {
    grid-area: country;
}
.address {
    grid-area: address;
}
.hours {
    grid-area: hours;
}

/* Reservation form */
form.reservation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}